body {
    background-color: beige;
}

.typeahead {
    width: 32.5%;
}

#recipe-form {
    display: flex;
    justify-content: center;
}

#recipe-form input {
    width: 50%
}

.recipe {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    min-height: 250px;
    background-color: rgb(183, 213, 156);
}

#search-results {
    display: grid;
    grid-template-columns: 50% 50%;
}

#nav-bar {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: flex-end;
    width: 400px;
    position: relative;
    /* top: 15px; */
}

#nav-bar li {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    padding: 3px;
    width: 75px;
    color: rgb(101, 89, 89);
}

.nav-list {
    font-weight: bold;
    background-color: none;
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list::after {
    background-color: rgb(0, 0, 0);
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

.nav-list:hover::after {
    width: 100%;
}

.nav-list a:hover {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#icon {
    max-width: 200px;
    max-height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: rgb(150, 188, 117);
    padding: 5px;
    align-items: center;
}

#main-display {
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: 100vh;
}

.recipeImage {
    background-repeat: no-repeat;
    background-size: cover;
}

.titleEl {
    margin: 5px;
}

.recipe a {
    text-decoration: none;
    color: black;
}

.recipe a:hover {
    color: darkgray;
}

.contact {
    display:flex;
    flex-direction: column;
    justify-content: end;
    color: rgb(98, 68, 32);
}